/* Sets the background color to the whole page */
body {
  background-color: #f0d4b8;
}
/* Styles the hero section */
.hero-section {
  height: 90vh; /* Sets the hero section to 90 viewport height */
  background-image: url("https://images.unsplash.com/photo-1600891964599-f61ba0e24092");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Ensures the menu images align and fit properly */
.card-img-top {
  height: 250px;
  object-fit: cover;
}

